.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 180px;
  border-radius: 15px;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0 0 10px 4px #f5f0f0;
}

.profilepic {
  flex: 1;
  height: 70px;
  width: 70px;
  margin: 30px;
  border-radius: 50%;
  clip-path: circle(50%);
  overflow: hidden;
}

.text {
  flex: 4;
  font-size: 16px;
  margin: 10px;
  margin-left: 0;
}

.name {
  font-size: 1.1em;
}

.pronouns {
  font-size: 0.75em;
}

.position {
  font-size: 1em;
  color: #39ff14;
}

.contact {
  display: flex;
  align-items: center;
  line-height: 0.8;
  font-size: 0.8em;
  gap: 8px;

  a {
    text-decoration: none;
    color: inherit;
  }
}

@media (max-width: 1250px) {
  .container {
    width: 300px;
    height: 120px;
    padding: 7px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .profilepic {
    width: 47px;
    height: 47px;
    margin: 20px;
  }

  .text {
    font-size: 12px;
  }
}

@media (max-width: 915px) {
  .container {
    width: 450px;
    height: 180px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .profilepic {
    width: 70px;
    height: 70px;
    margin: 30px;
  }

  .text {
    font-size: 16px;
  }
}
